# indirect dependencies.
colander==1.3.2          # required by deform
Chameleon==3.1           # required by deform, pyramid_chameleon, lingua
iso8601==0.1.11          # required by colander
PasteDeploy==1.5.2       # required by pyramid
mccabe==0.6.1            # required by flake8
pep8==1.7.0              # required by flake8
peppercorn==0.5          # required by deform
polib==1.0.8             # required by lingua
pyflakes==1.5.0          # required by flake8
pytz==2016.10            # required by Babel
redis==2.10.5            # required by pyramid_redis_sessions
repoze.lru==0.6          # required by pyramid
repoze.sendmail==4.3     # required by pyramid_mailer
transaction==2.1.0       # required by pyramid_mailer
translationstring==1.3   # required by deform, pyramid
venusian==1.0            # required by pyramid
SQLAlchemy==1.1.5        # required by pyramid_sqlalchemy
webassets==0.12.1        # required by pyramid_webassets
WebOb==1.7.1             # required by pyramid
zope.deprecation==4.2.0  # required by deform
zope.interface==4.3.3    # required by pyramid
zope.sqlalchemy==0.7.7   # required by pyramid_sqlalchemy

# direct dependencies.
Babel==2.3.4
deform==0.9.9   # 2.0.4 available but probably not compatible
lingua==4.9
oauthlib==2.0.1
psycopg2==2.6.2
pyramid==1.8.2
pyramid_chameleon==0.3
pyramid_mailer==0.15.1
pyramid_redis_sessions==1.0.1
pyramid_tm==1.1.1
pyramid_sna==0.3.2
pyramid_sqlalchemy==1.6
pyramid_webassets==0.9
raven==6.0.0
requests==2.13.0
waitress==1.0.2
newrelic==2.78.0.57
flake8==3.3.0
